<h4>Hola mundo desde un fichero cargado con un include</h4>

{# En este fichero, tendremos cargadas todas las variables que tengamos en el código anterior desde donde se hace el include. Por ejemplo: #}
{{ dump(animales) }}
{{ dump(jugadores) }}
